@{

    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edmin</title>
    <link type="text/css" href="/Content/admin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/Content/admin/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" href="/Content/admin/css/theme.css" rel="stylesheet">
    <link type="text/css" href="/Content/admin/images/icons/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
          rel='stylesheet'>
    <link href="~/Content/admin/css/theme.css" rel="stylesheet" />
    <title>
        学生社团管理系统
    </title>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <i class="icon-reorder shaded"></i>
                </a><a class="brand" href="index.html">学生社团管理系统 </a>
                <div class="nav-collapse collapse navbar-inverse-collapse">
                    <ul class="nav pull-right">
                        @*<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown
                                <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Item No. 1</a></li>
                                    <li><a href="#">Don't Click</a></li>
                                    <li class="divider"></li>
                                    <li class="nav-header">Example Header</li>
                                    <li><a href="#">A Separated link</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Support </a></li>*@
                        <li class="nav-user dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/Content/admin/images/user.png" class="nav-avatar" />
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/student/PersonalCenter/">修改密码</a></li>
                                <li class="divider"></li>
                                <li><a href="/student/Login/logout">退出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.nav-collapse -->
            </div>
        </div>
        <!-- /navbar-inner -->
    </div>
    <!-- /navbar -->
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <div class="sidebar">
                        <ul class="widget widget-menu unstyled">
                            <li class="active">
                                <a href="/student/Home/">
                                    <i class="menu-icon icon-dashboard" style="color:white;"></i>面板
                                </a>
                            </li>
                            <li>
                                <a href="/student/Clubs/"><i class="menu-icon icon-paste"></i>社团 </a>
                            </li>
                            <li>
                                <a href="/student/NewClubs/Result">
                                    <i class="menu-icon icon-bar-chart"></i>入社申请结果 <b class="label orange pull-right">
                                        @ViewBag.ApplyResult
                                    </b>
                                </a>
                            </li>
                            <li>
                                <a href="/student/ApplyClub/Result">
                                    <i class="menu-icon icon-bar-chart"></i>创办社团结果 <b class="label green pull-right">
                                        @ViewBag.ClubApplyResult
                                    </b>
                                </a>
                            </li>
                            <li>
                                <a href="/student/Messages/">
                                    <i class="menu-icon icon-bullhorn"></i>通知 <b class="label green pull-right">
                                        @ViewBag.Message
                                    </b>
                                </a>
                            </li>

                        </ul>
                        <ul class="widget widget-menu unstyled">
                            <li>
                                <a href="/student/Activity/Mine">
                                    <i class="menu-icon icon-table"></i>我的活动 <b class="label orange pull-right">
                                        @ViewBag.MineActivity
                                    </b>
                                </a>
                            </li>
                            <li>
                                <a href="/student/Activity/">
                                    <i class="menu-icon icon-table"></i>活动 <b class="label green pull-right">
                                        @ViewBag.Activity
                                    </b>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--/.sidebar-->
                </div>
                <!--/.span3-->
                <div class="span9">
                    <div class="content">
                        <div class="btn-controls">
                            <div class="btn-box-row row-fluid">
                                <a href="/student/Clubs/" class="btn-box big span4">
                                    <i class=" icon-random"></i><b>@ViewBag.Clubs</b>
                                    <p class="text-muted">
                                        总社团数
                                    </p>
                                </a>
                                <a href="/student/Mine/" class="btn-box big span4">
                                    <i class="icon-user"></i><b>@ViewBag.Mine</b>
                                    <p class="text-muted">
                                        我的社团
                                    </p>
                                </a>
                                <a href="/student/NewClubs/" class="btn-box big span4">
                                    <i class="icon-money"></i><b>@ViewBag.NewClubs</b>
                                    <p class="text-muted">
                                        申请中的社团
                                    </p>
                                </a>
                                
                            </div>
                            <div class="btn-box-row row-fluid">
                                <a href="/student/ApplyClub/Add" class="btn-box big span4">
                                    <i class=" icon-briefcase"></i><b>&nbsp;</b>
                                    <p class="text-muted">
                                        创办社团
                                    </p>
                                </a>
                                <a href="/student/ApplyClub/" class="btn-box big span4">
                                    <i class=" icon-bell"></i><b>@ViewBag.ClubApply</b>
                                    <p class="text-muted">
                                        创办中的社团
                                    </p>
                                </a>
                            </div>
                                @RenderBody()


                                <!--/.module-->
                            </div>
                        <!--/.content-->
                    </div>
                    <!--/.span9-->
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->
        <div class="footer">
            <div class="container">
                <b class="copyright">©
                <script>var d = new Date; document.write(d.getFullYear());</script> 鲍顺亮 </b>All rights reserved.
            </div>
        </div>
        <script src="~/Content/admin/scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="~/Content/admin/scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
        <script src="~/Content/admin/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/Content/admin/scripts/flot/jquery.flot.js" type="text/javascript"></script>
        <script src="~/Content/admin/scripts/flot/jquery.flot.resize.js" type="text/javascript"></script>
        <script src="~/Content/admin/scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>
        <script src="~/Content/admin/scripts/common.js" type="text/javascript"></script>

</body>
</html>