@using Common
@{
    Layout = "~/Areas/manager/Views/Shared/_main.cshtml";
}
<div class="module">
    <div class="module-head">
        <h3>
            入社申请
        </h3>
    </div>
    <div class="module-body table">
        <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	 display"
               width="100%">
            <thead>
                <tr>
                    <th>
                        申请编号
                    </th>
                    <th>
                        用户
                    </th>
                    <th>
                        社团编号
                    </th>
                    <th>
                        社团名称
                    </th>
                    <th>
                        申请时间
                    </th>
                    <th>
                        通过申请
                    </th>
                    <th>
                        拒绝申请
                    </th>
                </tr>
            </thead>
            <tbody>
                @{

                    try
                    {
                        foreach (Model.newmember i in Model)
                        {
                            int temp = 1;
                            if (temp % 2 == 0)
                            {
                <tr class="gradeX">
                    <td>@i.id</td>
                    <td>@Common.User.GetUserName(i.userID)</td>
                    <td>@i.userID</td>
                    <td>@Common.Club.getClubName(i.clubID)</td>
                    <td>@i.time.ToString()</td>
                    <td><a href="/manager/NewMember/Allow/@i.id">通过申请</a></td>
                    <td><a href="/manager/NewMember/Deny/@i.id">拒绝申请</a></td>
                </tr>
                            }
                            else
                            {
                <tr class="odd gradeX">
                    <td>@i.id</td>
                    <td>@Common.User.GetUserName(i.userID)</td>
                    <td>@i.userID</td>
                    <td>@Common.Club.getClubName(i.clubID)</td>
                    <td>@i.time.ToString()</td>
                    <td><a href="/manager/NewMember/Allow/@i.id">通过申请</a></td>
                    <td><a href="/manager/NewMember/Deny/@i.id">拒绝申请</a></td>
                </tr>
                            }
                        }
                    }
                    catch (Exception)
                    {
                <tr>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                    <td>暂无数据</td>
                </tr>
                }
                }
                </tbody>

            </table>
        </div>
    </div>